.axis path,
.axis line {
  stroke: teal;
  shape-rendering: crispEdges;
}
.axis text {
  font-family: Optima, Futura, sans-serif;
  font-weight: bold;
  font-size: 14px;
  fill: teal;
}

// radial graph

.frame {
  fill: none;
  stroke: #000;
}

.axis text {
  font: 10px sans-serif;
}

.axis line,
.axis circle {
  fill: none;
  stroke: #777;
  stroke-dasharray: 1,4;
}

.axis :last-of-type circle {
  stroke: #333;
  stroke-dasharray: none;
}

.line {
  fill: none;
  stroke: red;
  stroke-width: 1.5px;
}

body {
  background: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 700;
}

html, body, div, h1, h2, h3, h4, h5, h6, p, ul, li, span {
  margin: 0;
  padding: 0;
  line-height: 1;
}

a, a:link, a:active, a:visited, a:hover {
  text-decoration: none;
  outline: none;
}

@import "buttons.scss";
@import "sensortable.scss";
@import "tabs.scss";
@import "modal.scss";