//.container {
//  //width: 980px;
//  margin-right: auto;
//  margin-left: auto;
//}
//* {
//  box-sizing: border-box;
//}
//div {
//  display: block;
//}
//a {
//  color: #0366d6;
//  text-decoration: none;
//  background-color: transparent;
//}
//b, strong {
//  font-weight: bolder;
//}
//h2 {
//  display: block;
//  font-size: 1.5em;
//  -webkit-margin-before: 0.83em;
//  -webkit-margin-after: 0.83em;
//  -webkit-margin-start: 0;
//  -webkit-margin-end: 0;
//  font-weight: bold;
//}
//h3 {
//  display: block;
//  font-size: 1.17em;
//  -webkit-margin-before: 1em;
//  -webkit-margin-after: 1em;
//  -webkit-margin-start: 0;
//  -webkit-margin-end: 0;
//  font-weight: bold;
//}

//.counter {
//  display: inline-block;
//  padding: 2px 5px;
//  font-size: 12px;
//  font-weight: 600;
//  line-height: 1;
//  color: #586069;
//  background-color: rgba(27,31,35,0.08);
//  border-radius: 20px;
//}
//ul, ol {
//  padding-left: 0;
//  margin-top: 0;
//  margin-bottom: 0;
//}
//ul, menu, dir {
//  display: block;
//  list-style-type: disc;
//  -webkit-margin-before: 1em;
//  -webkit-margin-after: 1em;
//  -webkit-margin-start: 0;
//  -webkit-margin-end: 0;
//  -webkit-padding-start: 5px;
//}
//li {
//  display: list-item;
//  text-align: -webkit-match-parent;
//}
//h5 {
//  display: block;
//  font-size: 0.83em;
//  -webkit-margin-before: 1.67em;
//  -webkit-margin-after: 1.67em;
//  -webkit-margin-start: 0;
//  -webkit-margin-end: 0;
//  font-weight: bold;
//}
//.width-full {
//  width: 100% !important;
//}
//.input-group {
//  display: table;
//}
//.text-small {
//  font-size: 12px !important;
//}
//.text-gray {
//  color: #586069 !important;
//}
//
//article, aside, details, figcaption, figure, footer, header, main, menu, nav, section {
//  display: block;
//}
//article, aside, footer, header, hgroup, main, nav, section {
//  display: block;
//}

//.list-style-none {
//  list-style: none !important;
//}
//
//div.bar {
//  display: inline-block;
//  width: 20px;
//  height: 75px;
//  background-color: teal;
//}

.axis path,
.axis line {
  stroke: teal;
  shape-rendering: crispEdges;
}
.axis text {
  font-family: Optima, Futura, sans-serif;
  font-weight: bold;
  font-size: 14px;
  fill: teal;
}

// radial graph

.frame {
  fill: none;
  stroke: #000;
}

.axis text {
  font: 10px sans-serif;
}

.axis line,
.axis circle {
  fill: none;
  stroke: #777;
  stroke-dasharray: 1,4;
}

.axis :last-of-type circle {
  stroke: #333;
  stroke-dasharray: none;
}

.line {
  fill: none;
  stroke: red;
  stroke-width: 1.5px;
}

/* Circular chart SVG styling https://github.com/prcweb/d3-circularheat */
//#energychart svg, #chart3 svg {
//  height: 360px;
//}
//#chart4 svg {
//  height: 470px;
//}
//path {
//  stroke: #777;
//  stroke-width: 0.1px;
//}
//
//.labels {
//  fill: #aaa;
//  font-weight: 200;
//  letter-spacing: -1px;
//}
//.labels.segment {
//  font-size: 10px;
//}
//
//#chart3 .labels {
//  fill: #555;
//}

/* Example chart */
.line {
  fill: none;
  stroke-width: 4px;
}
.axis path, .tick line {
  fill: none;
  stroke: #333;
}

//img {
//  border: none;
//}



//ul {
//  list-style-type: none;
//}

//
//h1 {
//  color: #34495e;
//  font-family: 'Asap', sans-serif;
//  font-size: 18px;
//  font-weight: normal;
//  margin: 0 23px 23px 0;
//}
//
//p a {
//  float: left;
//  margin: 0 10px 40px 0;
//}

body {
  background: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 700;
}

/*Resets and overrides*/
html, body, div, h1, h2, h3, h4, h5, h6, p, ul, li, span {
  margin: 0;
  padding: 0;
  line-height: 1;
}

a, a:link, a:active, a:visited, a:hover {
  text-decoration: none;
  outline: none;
}

@import "buttons.scss";
@import "sensortable.scss";
@import "tabs.scss";