.axis path,
.axis line {
  stroke: teal;
  shape-rendering: crispEdges; }

.axis text {
  font-family: Optima, Futura, sans-serif;
  font-weight: bold;
  font-size: 14px;
  fill: teal; }

.frame {
  fill: none;
  stroke: #000; }

.axis text {
  font: 10px sans-serif; }

.axis line,
.axis circle {
  fill: none;
  stroke: #777;
  stroke-dasharray: 1,4; }

.axis :last-of-type circle {
  stroke: #333;
  stroke-dasharray: none; }

.line {
  fill: none;
  stroke: red;
  stroke-width: 1.5px; }

body {
  background: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 700; }

html, body, div, h1, h2, h3, h4, h5, h6, p, ul, li, span {
  margin: 0;
  padding: 0;
  line-height: 1; }

a, a:link, a:active, a:visited, a:hover {
  text-decoration: none;
  outline: none; }

.button, .agog-button, .appl-button, .chlo-button, .meth-button, .all-button, .apr-button, .aug-button, .dec-button, .toggle-button-left-active, .toggle-button-right-active, .toggle-button-left, .toggle-button-right, .button-sensor, .button-question {
  color: #ffffff; }
  .button:link, .agog-button:link, .appl-button:link, .chlo-button:link, .meth-button:link, .all-button:link, .apr-button:link, .aug-button:link, .dec-button:link, .toggle-button-left-active:link, .toggle-button-right-active:link, .toggle-button-left:link, .toggle-button-right:link, .button-sensor:link, .button-question:link {
    width: 60px;
    margin: 0;
    padding: 2px 2px;
    line-height: 100%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    font-weight: 700;
    display: inline-block;
    cursor: pointer; }
  .button:hover, .agog-button:hover, .appl-button:hover, .chlo-button:hover, .meth-button:hover, .all-button:hover, .apr-button:hover, .aug-button:hover, .dec-button:hover, .toggle-button-left-active:hover, .toggle-button-right-active:hover, .toggle-button-left:hover, .toggle-button-right:hover, .button-sensor:hover, .button-question:hover {
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }

.agog-button {
  border-style: solid;
  border-width: 0 2px 2px;
  border-color: #ff996b; }
  .agog-button:link, .agog-button:visited, .agog-button:active {
    background-color: #ff996b; }
  .agog-button:hover {
    background-color: #ffdfd1;
    border-color: #ffdfd1; }

.appl-button {
  border-style: solid;
  border-width: 0 2px 2px;
  border-color: #ff7077; }
  .appl-button:link, .appl-button:visited, .appl-button:active {
    background-color: #ff7077; }
  .appl-button:hover {
    background-color: #ffd6d8;
    border-color: #ffd6d8; }

.chlo-button {
  border-style: solid;
  border-width: 0 2px 2px;
  border-color: #3bafda; }
  .chlo-button:link, .chlo-button:visited, .chlo-button:active {
    background-color: #3bafda; }
  .chlo-button:hover {
    background-color: #91d2ea;
    border-color: #91d2ea; }

.meth-button {
  border-style: solid;
  border-width: 0 2px 2px;
  border-color: #54c2b4; }
  .meth-button:link, .meth-button:visited, .meth-button:active {
    background-color: #54c2b4; }
  .meth-button:hover {
    background-color: #9fddd5;
    border-color: #9fddd5; }

.all-button {
  border-style: solid;
  border-width: 0 2px 2px;
  border-color: #7796b4; }
  .all-button:link, .all-button:visited, .all-button:active {
    background-color: #7796b4; }
  .all-button:hover {
    background-color: #b9c9d8;
    border-color: #b9c9d8; }

.apr-button {
  border-style: solid;
  border-width: 0 2px 2px;
  border-color: #b4c791; }
  .apr-button:link, .apr-button:visited, .apr-button:active {
    background-color: #b4c791; }
  .apr-button:hover {
    background-color: #e2e9d5;
    border-color: #e2e9d5; }

.aug-button {
  border-style: solid;
  border-width: 0 2px 2px;
  border-color: #85ae79; }
  .aug-button:link, .aug-button:visited, .aug-button:active {
    background-color: #85ae79; }
  .aug-button:hover {
    background-color: #bfd4b9;
    border-color: #bfd4b9; }

.dec-button {
  border-style: solid;
  border-width: 0 2px 2px;
  border-color: #7ba0a2; }
  .dec-button:link, .dec-button:visited, .dec-button:active {
    background-color: #7ba0a2; }
  .dec-button:hover {
    background-color: #b7cbcc;
    border-color: #b7cbcc; }

.controls {
  margin-left: 12px; }

.reponav-controls {
  position: absolute;
  top: 0;
  right: 12px;
  margin-top: 0; }

.toggle-button-left-active, .toggle-button-right-active {
  border-style: solid;
  border-width: 0 0 2px 2px;
  border-color: #7ba0a2; }
  .toggle-button-left-active:link, .toggle-button-right-active:link, .toggle-button-left-active:visited, .toggle-button-right-active:visited, .toggle-button-left-active:active, .toggle-button-right-active:active {
    background-color: #7ba0a2; }

.toggle-button-left, .toggle-button-right {
  color: #7ba0a2;
  border-style: solid;
  border-width: 0 0 2px 2px;
  border-color: #7ba0a2; }
  .toggle-button-left:hover, .toggle-button-right:hover {
    color: #ff996b; }

.toggle-button-right {
  border-width: 0 2px 2px 0; }

.toggle-button-right-active {
  border-width: 0 2px 2px 0; }

.button-sensor {
  border-style: solid;
  border-width: 0 2px 2px;
  border-color: #ff996b;
  color: #4c6a6b;
  border-style: solid;
  border-width: 0 0 2px 2px;
  border-color: #ff996b; }
  .button-sensor:link, .button-sensor:visited, .button-sensor:active {
    background-color: #ff996b; }
  .button-sensor:hover {
    background-color: #ffdfd1;
    border-color: #ffdfd1; }

.button-question {
  color: #4c6a6b;
  border-style: solid;
  border-width: 0 2px 2px 0;
  border-color: #ff996b; }
  .button-question:hover {
    color: #ff996b; }

.wrapper {
  margin: auto;
  display: table; }

table.sensors th {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
  color: #fff;
  background-color: #999999;
  padding: 4px; }

table.sensors {
  margin: 2px 8px; }

table.sensors td {
  border: 1px solid #e6e6e6;
  padding: 0;
  margin: 0; }

svg {
  padding: 0;
  margin-left: 0;
  margin-bottom: -2px;
  background-color: #fafafa; }

svg.multi_chart {
  margin: 0 10px;
  background-color: #f2f2f2; }

.repohead.experiment-repo-nav {
  padding-bottom: 0;
  background-color: #fafbfc; }

.pagehead {
  border-bottom: 1px solid #e1e4e8;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 10px; }

.reponav {
  position: relative;
  top: 1px;
  margin-top: 17px; }

.reponav::before {
  display: table;
  content: ""; }

.container::before {
  display: table;
  content: ""; }

.reponav::after {
  display: table;
  clear: both;
  content: ""; }

.container::after {
  display: table;
  clear: both;
  content: ""; }

.repohead h1 {
  position: relative;
  float: left;
  max-width: 635px;
  padding-left: 18px;
  font-size: 18px;
  line-height: 26px;
  color: #999999; }

.reponav-item {
  float: left;
  padding: 7px 15px 8px;
  color: #999999;
  white-space: nowrap;
  border: solid transparent;
  border-width: 3px 1px 1px;
  border-radius: 3px 3px 0 0; }

.reponav-item.selected {
  color: #999999;
  background-color: #fff;
  border-color: #e36209 #e1e4e8 transparent; }

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 50px; }

.modal {
  background-color: #fff;
  border-radius: 5px;
  max-width: 100%;
  min-height: 90%;
  margin: 0 auto;
  padding: 30px; }

.modal a.close {
  position: absolute;
  right: 65px;
  top: 60px; }
