.button {
  color: #ffffff;
  &:link {
    margin: 0;
    padding: 6px 12px;
    line-height: 100%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    font-weight: 700;
    display: inline-block;
    cursor: pointer;
  }
  &:hover {
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
}
@mixin color($color) {
  &:link, &:visited, &:active {
    background-color: $color;

  }
  &:hover {
    background-color: lighten($color, 20);
    border-color: lighten($color, 20);
  }
  border-style: solid;
  border-width: 0 2px 2px;
  border-color: $color;

}
.agog-button {
  @extend .button;
  @include color(#ff996b);
}
.appl-button {
  @extend .button;
  @include color(lighten(#ff565f, 5));
}
.chlo-button {
  @extend .button;
  @include color(#3bafda);
}
.meth-button {
  @extend .button;
  @include color(#54c2b4);
}
.all-button {
  @extend .button;
  @include color(lighten(#34495e, 30));
}
.apr-button {
  @extend .button;
  @include color(#b4c791);
}
.aug-button {
  @extend .button;
  @include color(#85ae79);
}
.dec-button {
  @extend .button;
  @include color(#7ba0a2);
}
.controls {
  margin-left: 12px;
}
.reponav-controls {
  position: absolute;
  top: 0;
  right: 12px;
  margin-top: 0;
}
.toggle-button-left-active {
  @extend .button;
  $color: #7ba0a2;
  &:link, &:visited, &:active {
    background-color: $color;

  }
  border-style: solid;
  border-width: 0 0 2px 2px;
  border-color: $color;
}
.toggle-button-left {
  @extend .button;
  $color: #7ba0a2;
  &:hover {
    color:  #ff996b;
  }
  color: $color;
  border-style: solid;
  border-width: 0 0 2px 2px;
  border-color: $color;
}
.toggle-button-right {
  @extend .toggle-button-left;
  border-width: 0 2px 2px 0;
}
.toggle-button-right-active {
  @extend .toggle-button-left-active;
  border-width: 0 2px 2px 0;
}
.button-sensor {
  @extend .button;
  $color: #ff996b;
  @include color($color);
  color:darken(#7ba0a2, 20);
  border-style: solid;
  border-width: 0 0 2px 2px;
  border-color: $color;
}
.button-question {
  @extend .button;
  &:hover {
    color:  #ff996b;
  }
  color: darken(#7ba0a2, 20);
  border-style: solid;
  border-width: 0 2px 2px 0;
  border-color:#ff996b;
}