.repohead.experiment-repo-nav {
  padding-bottom: 0;
  background-color: #fafbfc;
}
.pagehead {
  border-bottom: 1px solid #e1e4e8;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 10px;
}
.reponav {
  position: relative;
  top: 1px;
  margin-top: 17px;
}
.reponav::before {
  display: table;
  content: "";
}
.container::before {
  display: table;
  content: "";
}
.reponav::after {
  display: table;
  clear: both;
  content: "";
}
.container::after {
  display: table;
  clear: both;
  content: "";
}
.repohead h1 {
  position: relative;
  float: left;
  max-width: 635px;
  padding-left: 18px;
  font-size: 18px;
  line-height: 26px;
  color: lighten(#000, 60);
}
.reponav-item {
  float: left;
  padding: 7px 15px 8px;
  color: lighten(#000, 60);
  white-space: nowrap;
  border: solid transparent;
  border-width: 3px 1px 1px;
  border-radius: 3px 3px 0 0;
}
.reponav-item.selected {
  color: lighten(#000, 60);
  background-color: #fff;
  border-color: #e36209 #e1e4e8 transparent;
}