.button {
  //-moz-border-radius: 3px;
  //-webkit-border-radius: 3px;
  //border-radius: 3px;
  color: #ffffff;
  border-color: #e36209 #e1e4e8 transparent;
  &:link {
    margin-left: 4px;
    padding: 10px 20px;
    line-height: 100%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 700;
    display: inline-block;
    cursor: pointer;
  }
  &:hover {
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
}
@mixin color($color) {
  &:link, &:visited, &:active {
    background-color: $color;
  }
  &:hover {
    background-color: lighten($color, 20);
  }
  border-color: #e36209 #e1e4e8 transparent;
}
.agog-button {
  @extend .button;
  @include color(#ff996b);
}
.appl-button {
  @extend .button;
  @include color(#ff565f);
}
.chlo-button {
  @extend .button;
  @include color(#3bafda);
}
.meth-button {
  @extend .button;
  @include color(#54c2b4);
}
.all-button {
  @extend .button;
  @include color(#34495e);
}
.apr-button {
  @extend .button;
  @include color(#b4c791);
}
.aug-button {
  @extend .button;
  @include color(#85ae79);
}
.dec-button {
  @extend .button;
  @include color(#7ba0a2);
}
.controls {
  margin-left: 20px;
}
.reponav-controls {
  position: absolute;
  top: 0;
  right: 8px;
  margin-top: 0;
}
.toggle-button {
  @extend .button;
  @include color(#7ba0a2);
  $radius: 50px 0 0 50px;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}
.question-button {
  @extend .button;
  @include color(#7ba0a2);
  $radius: 7%;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

.dot {
  height: 50px;
  width: 50px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}